<h1>Register</h1>
<form>
    <div>
    <label for="">Username</label>
    <input type="text" name="username" >
    </div>
    <div>
    <label for="">Email</label>
    <input type="email" name="email" >
    </div>
    <div>
    <label for="">Password</label>
    <input type="password" name="password">
    </div>
    <div>
    <label for="">Confirm Password</label>
    <input type="password" name="passwordConfirm">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
    <div>
        <a href="#">Have an accont Login Instead</a>
    </div>
    <div>
        <a href="/">Cancel</a>
    </div>
</form>